# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.env

# Database
*.sqlite
*.sqlite3
*.db

# React/Node
node_modules/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS Lambda
/lambda_function/node_modules/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
